
.book-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .add-book-button {
    background-color:#a250a1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  
  .add-book-button:hover {
    background-color:#721771;
  }
  
  .my-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #343a40;
    color: #fff;
    font-weight: bold;
  }
  

  tr:hover {
    background-color: #eaeaea; 
  }
  
  .toggle-description-button {
    background-color: #a250a1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-description-button:hover {
    background-color:#721771;
  }
  
  .book-description {
    margin-top: 5px;
    font-style: italic;
    color: #555;
  }
  
  .edit-button {
    background-color: #a0a09f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover {
    background-color: #5c5a5a;
  }
  
  .delete-button {
    background-color: #a0a09f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #5c5a5a;
  }
  